# MongoDB Deployment
apiVersion: apps/v1
kind: Deployment
metadata:
  name: fittnessduel-mongo
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app: fittnessduel-mongo
  template:
    metadata:
      labels:
        app: fittnessduel-mongo
    spec:
      containers:
      - name: mongo
        image: mongo:7.0
        ports:
          - containerPort: 27017
        env:
          - name: MONGO_INITDB_ROOT_USERNAME
            value: "root"
          - name: MONGO_INITDB_ROOT_PASSWORD
            value: "example"
            
